<div>
    <div class="group-title">
        {{ vm.engine.name }}
        <div class="leftpanel-header-button-container">
            <button ng-click="vm.configSimulationEngine()" class="button fa fa-cog leftpanel-header-button" />
        </div>
    </div>

    <div style="margin-left: 5px;position:relative;">
        <div style="float: left; margin-left: -5px; margin-top: 5px" data-toggle="collapse" data-target="#{{ vm.engine.id }}_newSim"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
        <div class="group-title">Start new simulation</div>

        <div id="{{ vm.engine.id }}_newSim" class="collapse in">
            <div data-ng-repeat="launchParam in vm.engine.launcher.params">
                <simulation-parameter param="launchParam"/>
            </div>
            <div style="margin-top: 5px">
                <button ng-click="vm.launchSimulation()">Launch simulation</button>
            </div>
        </div>
    </div>
    <div style="margin-left: 5px;position:relative;">
        <div style="float: left; margin-left: -5px; margin-top: 5px" data-toggle="collapse" data-target="#{{ vm.engine.id }}_simResults"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
        <div class="group-title">Simulation results</div>
        <div id="{{ vm.engine.id }}_simResults" class="collapse in">
            <div data-ng-repeat="result in vm.engine.results" style="margin-left: 5px;position:relative;">
                <div>
                    {{ result.name }}
                    <div class="leftpanel-header-button-container">
                        <button ng-click="vm.viewDetails(result)" class="button fa fa-cog leftpanel-header-button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
