<div data-ng-cloak class="rightpanel-content" style="width:100%">
    <h4 class="rightpanel-header">
        <i class="layersIcon rightpanel-header-icon" />Simulation Editor
    </h4>

    <div data-ng-cloak style="margin:5px;overflow-y:auto">
        <div class="controls">
            <label class="editor-title input-xlarge" for="simulationName">Name</label>
            <input id="simulationName" name="textinput" type="text" ng-model="vm.simulation.name" placeholder="name" class="input-xlarge editor-text-input">
        </div>
        <div class="controls">
            <label class="editor-title" for="layerDescription">Description</label>
            <textarea id="layerDescription" ng-model="vm.simulation.name" placeholder="placeholder" class="input-xlarge editor-text-input" />
        </div>

        <div class="controls" style="margin-top:10px">
            <button class="btn" ng-click="vm.debug()">Remove simulation</button>
        </div>
    </div>
</div>
